<div class="container">
    <h3 class="text-center">Data Customer</h3>
    <hr>
    <form [formGroup]="customerFormGroup">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="">Username</label>
          <input type="text" class="form-control" id="" formControlName="username" placeholder="username">
        </div>
        <div class="form-group col-md-6">
          <label for="">Password</label>
          <input type="text" class="form-control" id="" formControlName="password" placeholder="password">
        </div>
      </div>
      <div class="form-group">
        <label for="">Firstname</label>
        <input type="text" class="form-control" id="" formControlName="firsname" placeholder="Firstname">
      </div>
      <div class="form-group">
        <label for="">Lastname</label>
        <input type="text" class="form-control" id="" formControlName="lastname" placeholder="Lastname">
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="">birthdate</label>
          <input type="date" class="form-control" id="" formControlName="birthdate" placeholder="birthdate">
        </div>
        <div class="form-group col-md-4">
          <label for="">phonetype</label>
          <input type="text" class="form-control" id="" formControlName="phonetype" placeholder="phonetype">
        </div>
  
        <div class="form-group col-md-4">
          <label for="">Phonenumber</label>
          <input type="number" class="form-control" id="" formControlName="phonenumber" placeholder="phonenumber">
        </div>
      </div>
  
      <button type="submit" (click)="submitData()" [disabled]="!customerFormGroup.value" class="btn btn-primary">submit</button>
    </form>
  </div>
  